BookmarksGit/map_data/heightmap.png
BookmarksGit/gfx/map/terrain/detail_index.tga
BookmarksGit/gfx/map/terrain/detail_intensity.tga
BookmarksGit/gfx/map/terrain/colormap.dds
BookmarksGit/gfx/map/terrain/flat_maps/flatmap_tgp.dds
BookmarksGit/gfx/map/terrain/flat_maps/flatmap.dds
